.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aliceblue;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
}

.text {
    background-color: aquamarine;
}

.image {
    background-color: blueviolet;
}

.image img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

#two-text-gridFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: rgb(223, 216, 216);
}

.images-gridFive {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.images-gridFive img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
}

.gridSix p {
    font-family: "Dancing Script", cursive;
    font-size: 1.2rem;
}